.mold{
	position:absolute;
	margin-left: 330px;
	margin-top: 15px;
}
.event_top {
	width: 1000px;
	height: 150px;
	margin-top: 13px;
	border: 1px solid #ddd;
	border-radius: 2px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.event_mid {
	width: 1000px;
	height: 150px;
	margin-top: 13px;
	border: 1px solid #ddd;
	border-radius: 2px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.event_bottom {
	width: 1000px;
	height: 150px;
	margin-top: 13px;
	border: 1px solid #ddd;
	border-radius: 2px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.event_jungle {
	width: 1000px;
	height: 150px;
	margin-top: 13px;
	border: 1px solid #ddd;
	border-radius: 2px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.topDiv {
	margin: 15px 0 15px 20px;
	font-weight: bold;
}

.eventInfo {
	font-size: 12px;
	color: #aaa;
	margin-top: 5px;
	margin-left: 20px;
}

.event_input {
	width: 700px;
	height: 30px;
	margin-top: 5px;
	margin-left: 20px;
	border: 1px solid #ddd;
	border-radius: 2px;
}

.event_input::placeholder {
	padding-left: 10px;
	font-size: 12px;
	color: #ccc;
}