
body {
	margin: 0px;
}

.container {
	width: 1150px;
	margin: 0 auto;
	padding: 10px;
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	overflow-y: auto;
	overflow-x: none;
}

/* 웹킷 기반 브라우저(Chrome, Safari 등)의 스크롤바 스타일 변경 */
.container::-webkit-scrollbar {
    width: 12px; /* 스크롤바의 너비 */
}


.container::-webkit-scrollbar-track {
	/* 스크롤바의 트랙 배경색 */
    background-color: none; 
   /*  background-color: rgba(221, 220, 220, 0.473); */ 
}

.container::-webkit-scrollbar-thumb {
	/* 스크롤바의 색 */
    background-color: white; 
   /*  background-color:rgba(238, 238, 238, 0.404);  */
   /* 스크롤바의 모서리 둥글기 */
    border-radius: 5px;
}

.container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(192, 180, 180, 0.466); /* 마우스를 올렸을 때 스크롤바의 색 */
}




.buttonSubmit {
	width: 90px;
	height: 40px;
	border: 1px solid #ff7f00;
	background-color: white;
	border-radius: 3px;
	font-size: 14px;
	line-height: 30px;
	color: #ff7f00;
	margin: 5px;
	float: right;
	margin-left: 300px;
	cursor: pointer;
	margin-top: 5px;
}

.buttonSubmit:hover {
	border: 1px solid #ff7f00;
	background-color: #ff7f00;
	color: white;
}

.buttonRemove {
	width: 90px;
	height: 40px;
	border: 1px solid #ccc;
	background-color: #f9f9f9;
	border-radius: 3px;
	font-size: 14px;
	line-height: 30px;
	color: rgb(72, 72, 72);
	margin: 5px;
	float: right;
	cursor: pointer;
}

.buttonRemove:hover {
	border: 1px solid #ccc;
	background-color: #ccc;
	color: white;
}
.addrSelect {
	width: 100px;
	height: 30px;
	border: 1px solid #ff7f00;
	background-color: white;
	border-radius: 3px;
	font-size: 11px;
	line-height: 30px;
	color: #ff7f00;
	margin: 5px;
	margin-right: 5px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	line-height: 18px;
	vertical-align: middle;
	padding : 0 10px;
	margin-top: 7px; 
}
.addrSelect:hover{
	border: 1px solid #ff7f00;
	background-color: #ff7f00;
	color: white;
}
.addrRemove{
	width: 60px;
	height: 30px;
	border: 1px solid #ccc;
	background-color: white;
	border-radius: 3px;
	font-size: 11px;
	line-height: 30px;
	color: #ccc;
	margin: 5px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	line-height: 18px;
	vertical-align: middle;
	padding : 0 10px;
	margin-top: 7px; 
}
.addrRemove:hover{
	border: 1px solid #ccc;
	background-color: #ccc;
	color: white;
}
.addrSelectDiv{
	margin: none;
}
.addrUpdate{
	width: 60px;
	height: 30px;
	border: 1px solid #ff7f00;
	background-color: white;
	border-radius: 3px;
	font-size: 11px;
	line-height: 30px;
	color: #ff7f00;
	margin: 5px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	line-height: 18px;
	vertical-align: middle;
	padding : 0 10px;
	margin-top: 7px; 
}
.addrUpdate:hover{
	border: 1px solid #ff7f00;
	background-color: #ff7f00;
	color: white;
}
.sidebar {
	margin: 10px;
	width: 200px;
	/* height: 800px; */
	background-color: none;
	padding: 10px;
}

.sidebar ul {
	list-style: none;
	padding: 0;
}

.sidebar ul li {
	margin-bottom: 5px;
}

.sidebar ul li a {
	display: block;
	padding: 5px 10px;
	text-decoration: none;
	color: #333;
	border-radius: 4px;
	transition: background-color 0.3s;
}

.sidebar ul li a:hover {
	font-size: 15.5px;
	color: #646464;
	font-weight: bold;
}

.sidebar ul li ul {
	margin-left: 15px;
}

a {
	font-size: 15px;
	text-decoration: none;
	color: #333;
}

.content {
	margin: 10px;
	margin-left: 20px;
	/* padding: 5px;
	padding-left: 30px; */
	width: 1000px;
	height: 800px;
	/* border: 1px solid black; */
}

.span {
	color: #b1b0b0;
	border: 1px solid #d1d0d0;
	border-radius: 4px;
	padding: 6px;
	font-size: 13px;
}

.table {
	display: left;
}

.row {
	display: flex;
	border-top: 1px solid #ccc;
	height: 60px;
}

.cell1 {
	line-height: 50px;
	background-color: #f3f2f2b7;
	width: 150px;
	border: none;
	text-align: center;
	padding: 5px;
}

.cell2 {
	margin-left: 100px;
	line-height: 40px;
	font-size: 14px;
	color: #747171;
	width: 600px;
	/* border: none; */
	border-top: none;
	border-bottom:1px sold #ccc;
	padding: 5px;
	margin: 5px;
}

input[type="password"] {
	border: none;
	border-bottom: 1px solid #ccc;
	margin-left: 10px;
}

input[type='password']:focus {
	outline: none;
}

.newTableContainer{
	overflow-y: auto; 
	max-height: 500px;
}


/* 모달 추가 css */
.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

.modal-content {
	margin-bottom: 10px;
	width: 550px;
	height: 200px;
	border-radius: 10px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	z-index: 1001;
	text-align: center;
}
.modalButton {
	border: none;
	background-color: white;
	font-size: 14px;
	color: rgb(161, 1, 161);
	font-weight: bold;
	float: none;
	cursor: pointer;
	margin: 10px;
	margin-top: 15px;
}

.modalButton:hover {
	/* color: white; */
	color: #ff7f00;
	font-size: 14px;
	font-weight: bold;
}

.modalCancel {
	border: none;
	background-color: white;
	font-size: 14px;
	font-weight: bold;
	color: rgb(72, 72, 72);
	cursor: pointer;
	margin: 10px;
	margin-top: 15px;
}

.modalCancel:hover {
	color: rgb(72, 72, 72);
	font-weight: bold;
}

.modalInput {
	width: 300px;
	height: 30px;
	border: 1px solid #f9f9f9;
	background-color: #f9f9f9;
	border-radius: 4px;
	padding: 5px 15px;
}

input[type="text"] {
	border: none;
	margin-left: 10px;
	margin : 3px;
}

input[type="text"]:focus {
	outline: none;
}

.btn-modify {
	width: 200px;
	margin-top: 30px;
	margin-left: 370px;
	background-color: #ffffff; /* 버튼 배경색 (흰색) */
	border: 1px solid #ff7f00; /* 버튼 테두리 (파란색) */
	color: #ff7f00; /* 텍스트 색상 (파란색) */
	padding: 8px 12px; /* 내부 여백 */
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	transition-duration: 0.4s; /* 트랜지션 효과 지속 시간 */
	cursor: pointer;
	border-radius: 4px; /* 버튼에 border-radius 적용 */
}

.btn-modify:hover {
	background-color: #ff7f00;
	border: 1px solid #FBCEB1;
	color: #ffffff;
}