/* 장바구니 */
.orderListContainer {
	position: relative;
}

.orderListBox {
	position: fixed;
	width: 380px;
	right: 240px;
	top: 560px;
	border-radius: 5px;
	border: 1px solid #EDEDED;
	padding: 10px;
	background-color: white;
}

.hrLine {
	height: 1px;
	background-color: #EDEDED;
	border: none;
}

.orderList {
	background-color: white;
	font-size: 17px;
	text-align: center;
	color: #000000;
	padding: 10px;
	font-weight: bold;
}

.orderListTable {
	text-align: center;
	width: 280px;
	font-size: 14px;
	color: #5F5F5F;
}

.orderListTable td {
	padding: 10px 0px;
}

.thFirst {
	width: 150px;
}

.thSecond {
	width: 100px;
}

.tdFirst {
	width: 90px;
	min-width: 90px;
	max-width: 90px;
	overflow: hidden;
	word-break: break-all;
	font-size: 14px;
	color: #5F5F5F;
}

.tdSecond {
	width: 60px;
	max-width: 60px;
	min-width: 60px;
	word-break: break-all;
}

.removeBtn {
	cursor: pointer;
}

.orderListDelivery {
	padding: 10px 0px;
}

.priceBox {
	height: 10px;
	position: relative;
	margin-top: 10px;
}
.totalPriceTxt{
	color: rgb(72,72,72);
	font-weight : bold;
	float: left;
	margin-left : 10px;
	font-size: 16px;
}
.totalPrice {
	position: absolute;
	right: 49px;
	top: 0px;
}

.orderBtn {
	font-size: 15px;
	text-align: center;
	border-radius: 8px;
	border :none;
	margin-top: 25px;
	padding: 10px 20px;
	background-color: #ff7f00;
	color: white;
	font-weight: 500;
	cursor: pointer;
}

table, td, th {
	border-collapse: collapse;
}

.receiptt::-webkit-scrollbar {
	/* display: none; */
	width: 10px;
}

.receiptt::-webkit-scrollbar-thumb {
	/* display: none; */
	background: #ccc;
	border-radius: 10px;
}

.tdAmount {
	max-width: 30px;
	min-width: 30px;
	overflow: hidden;
	width: 30px;
	word-break: break-all;
	padding: 10px 0px;
}

.th {
	padding: 10px 0px;
	font-size: 15px;
}

.tdremove {
	width: 50px;
}

.removeBtn {
	font-size: 30px;
	color: rgba(72, 72, 72, 0.603);
	width: 20px;
	height: 20px;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	line-height: 17px;
}