[v-cloak] {
	display: none;
}
@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

* {
	font-family: 'Pretendard-Regular';
}

.orderContainer {
	width: 1000px;
	/* background-color: rgb(248, 201, 147); */
	margin: 0px auto;
}

#tabContainer {
	width: fit-content;
	height: 56px;
	margin: 0px auto;
	/* background-color: aqua; */
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #ccc;
}

ul.tab {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.tabBox {
	margin-top: 10px;
	background-color: white;
	width: 70px;
	height: 40px;
	font-size: 20px;
	text-align: center;
	display: flex;
	align-items: center;
	/* margin-right: 10px; */
	padding-bottom: 5px;
	font-size: 15px;
}
/* 선택된 탭  */
.selectTab {
	border-bottom: 3px solid #ff7f00;
	font-weight: bold;
}

.tabBox:hover {
	border-bottom: 3px solid #ff7f00;
	font-weight: bold;
}

/* 메뉴 / 리뷰 글씨 */
.tabBox a {
	text-decoration: none;
	color: rgb(72, 72, 72);
	margin: auto;
}

/* 가게 정보 */
#shopInfoContainer {
	/* background-color: yellow; */
	width: 1000px;
	height: 350px;
	margin-top: 20px;
}

#shopInfoLeftBox {
	width: 500px;
	height: 350px;
	float: left;
}

#shopInfoRightBox {
	width: 500px;
	height: 350px;
	float: left;
}

/* 가게 로고 이미지 */
#shopMainImg {
	width: 150px;
	height: 150px;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 5px;
	float: left;
}

#shopMainImg img {
	border-radius: 5px;
	width: 150px;
	height: 150px;
}

/* 가게 상세 정보 */
#shopHours {
	width: 330px;
	/* background-color: orange; */
	float: left;
	margin-top: 5px;
	margin-left: 4px;
	/* border-bottom: 1px solid #ccc; */
}

#shopTable table {
	width: 330px;
	border-collapse: collapse;
	margin: 0px auto;
}

#shopTable th {
	width: 70px;
	font-size: 13px;
	background-color: #f9f9f9;
	color: white;
}

#shopTable td {
	font-size: 13px;
}

#shopTable th, #shopTable td {
	color: rgb(72, 72, 72);
	padding: 9px;
	border-top: 1px solid #ccc;
	border-radius: 5px;
}

/* 가게 리뷰이벤트 or 사장님 한마디 메모 부분 */
#shopInfo {
	width: 485px;
	height: 170px;
	/* background-color: orange; */
	clear: both;
	margin-left: 10px;
	border: 1px solid #ccc;
	color: rgb(72, 72, 72);
	font-size: 13px;
	overflow-y: scroll;
	border-radius: 5px;
}

#eventTitle {
	margin-left: 10px;
	margin-top: 5px;
}

#eventCmt {
	margin: 5px 5px;
	padding: 5px;
}
/* 오른쪽 가게 주소 정보*/
#shopAddrBox {
	width: 480px;
	overflow: hidden;
	/* background-color: orange; */
	margin-top: 5px;
	margin-left: 10px;
	color: rgb(72, 72, 72);
	font-size: 13px;
	position: relative;
}

#shopAddrLine {
	width: 70px;
	height: 100px;
	background-color: #f9f9f9;
	font-weight: bold;
	text-align: center;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}

#shopAddr {
	padding-top: 5px;
	width: 400px;
	margin-bottom: 5px;
	margin-left: 10px;
	float: left;
}

#shopAddrDetail {
	width: 400px;
	margin-left: 10px;
	float: left;
}

#addrBtn {
	position: absolute;
	right: 0px;
	bottom: 0px;
}

#addrBtn button {
	color: #ff8000;
	background-color: white;
	border: 1px solid #ff7f00;
	font-weight: 700;
	padding: 5px 8px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	font-size: 12px;
}

#addrBtn button:hover {
	background-color: #ff7f00;
	color: white;
}

#shopMapBox {
	width: 480px;
	height: 220px;
	border: 1px soild #ccc;
	margin-top: 5px;
	margin-left: 10px;
}

#map {
	width: 100%;
	height: 280px; /* 높이는 필요에 따라 조절하세요. */
}

/* 메뉴 정보 */
#menuContainer {
	/* background-color: rgb(203, 231, 46); */
	width: 1920px;
	margin: 0px auto;
	overflow: hidden;
}

.menuBox {
	/* background-color: rgb(209, 46, 231); */
	width: 1000px;
	margin : 0px auto;
	border: 1px solid #cccccc34;
	/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
	border-radius: 3px;
	/* border: 1px solid black; */
	margin-bottom: 30px;
	overflow: hidden;
}

.menuTitle {
	background-color: #f9f9f9;
	border-bottom: 3px solid #e4e4e4;
	width: 150px;
	height: 50px;
	margin-left: 10px;
	margin-bottom: 2px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	font-weight: bold;
}

.menuInfo {
	float: left;
}

.menuImgBox {
	/* background-color: rgb(46, 188, 231); */
	border-radius: 5px;
	width: 320px;
	height: 250px;
	margin-top: 5px;
	margin-left: 8px;
}

.menuImgBox img {
	width: 320px;
	height: 250px;
	border-radius: 5px;
	cursor: pointer;
}
/* .menuImgBox img:hover{
	transform: scale(1.1); 1.2배 확대
    transition: transform 0.3s ease; 부드러운 애니메이션 적용
} */

.menuName {
	/* background-color: rgb(231, 98, 46); */
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 320px;
	height: 120px;
	margin-left: 8px;
	margin-bottom: 7px;
	float: left;
	text-align: center;
	font-size: 13px;
}

.menuName table {
	border-collapse: collapse;
	margin: 0px auto;
	width: 100%;
	height: 100%;
}

.menuName th, .menuName td {
	border-bottom: 1px solid #EDEDED;
	cursor: pointer;
}

/* 이벤트 페이지  */
#eventBox {
	width: 1000px;
	margin: 0px auto;
}

.eventInfo {
	width: 980px;
	height: 1000px;
	margin: 0px auto;
	border: 1px solid #cccccc34;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.eventInfo img {
	width: 950px;
	height: 1000px;
}

/* 리뷰 페이지 */
#reviewContainer {
	width: 1000px;
	margin: 0px auto;
}

#reviewList {
	width: 980px;
	margin: 0px auto;
	margin-bottom: 10px;
	border: 1px solid #cccccc34;
	border-radius: 3px;
}

.reviewSetBox {
	width: 980px;
	height: auto;
}

.reviewBox {
	width: 980px;
	height: auto;
	overflow: hidden;
	/* 	background-color : #ff80c0; */
}

.userPhoto {
	width: 50px;
	height: 50px;
	/* background-color: white; */
	margin-left: 7px;
	margin-top: 10px;
	margin-right: 10px;
	float: left;
}

.userPhoto img {
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

.userInfo {
	width: 850px;
	height: 185px;
	/*  	background-color: rgb(128, 128, 255); */
	border: 1px solid #cccccc34;
	float: left;
	border-radius: 5px;
	margin-top: 5px;
}

.userInfoBox {
	width: 500px;
	float: left;
}

.userId {
	display: inline-block;
	height: 20px;
	/*  	background-color: yellow; */
	float: left;
	margin-top: 5px;
	margin-left: 15px;
	margin-bottom: 5px;
	font-weight: bold;
	color: rgb(72, 72, 72);
	font-size: 16px;
}

.reviewMenu {
	width: 450px;
	border-bottom: 1px solid #cccccc34;
	margin-left: 5px;
	margin-top: 40px;
	margin-bottom: 5px;
	text-wrap: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: rgb(72, 72, 72);
	font-size: 14px;
}

.starRating {
	width: 80px;
	float: left;
	margin-top: 10px;
}

.reviewDate {
	float: left;
	width: 65px;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	font-size: 14px;
}

.shop_reviewDate {
	float: left;
	width: 77px;
	float: left;
	margin-top: 10px;
	margin-left: 5px;
	text-align: center;
	font-size: 14px;
}

.foodContents {
	padding-top: 5px;
	padding-left: 5px;
	border: 1px solid #cccccc34;
	border-radius: 5px;
	width: 600px;
	height: 100px;
	float: left;
	margin-top: 5px;
	color: rgb(72, 72, 72);
}

.shopContents {
	padding-top: 5px;
	padding-left: 5px;
	border: 1px solid #cccccc34;
	border-radius: 5px;
	width: 800px;
	height: 130px;
	float: left;
	margin-top: 5px;
	color: rgb(72, 72, 72);
}

.reviewContents {
	width: 530px;
	height: 120px;
	/* 	background-color: red; */
	margin-left: 10px;
	clear: both;
	font-size: 14px;
}

.reviewCnt {
	width: 50px;
	float: left;
	margin-top: 118px;
	margin-left: 10px;
	font-size: 13px;
	color: #ccc;
	font-size: 12px;
}

.reviewImg {
	width: 120px;
	height: 120px;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}

.reviewImg img {
	width: 120px;
	height: 120px;
	border-radius: 5px;
}

.reviewLine {
	border-bottom: 2px solid #dddada;
}