<%@ page language="java" contentType="text/html; charset=UTF-8"
pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html lang="en">

<head>
<script src="js/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MAIN-HEADER</title>
<link rel="stylesheet" href="../css/main_biz.css">
<style>
</style>
</head>

<body>

	<header>
		<div id="header">
			<div id="container" style="height: 50px;">
				<a id="logo" href="business-main.do">
					<img src="../img/bizLogo.png" class="logo" height="58px">
				</a>
				<div id="status">
					<template v-if="sessionId==null || sessionId==''">
						<a class="buttonBoxBiz" href="bizLogin.do"
							style="background-color: #ccc; border: none;">사업자로그인 </a>
						<a class="join" href="business-signup.do"> 사업자회원가입 </a>
						<a class="join" href="food114.do">고객페이지로</a>
					</template>
					<template v-if="sessionId!=null && sessionId!=''">
						<a class="join" href="food114.do">고객페이지로</a>
						<a class="join" href="javascript:;" @click="fnLogout"> 로그아웃 </a>
					</template>
				</div>
			</div>
			<!-- menuBar -->
			<div id="menuBar">
				<div id="container" class="menuBar">
					<a href="javascript:;" class="menu" @click="fnSessionCheck()">가게관리 </a>
				</div>
			</div>
		</div>
	</header>

</body>

</html>
<script type="text/javascript">
	var header = new Vue({
		el : '#header',
		data : {
			sessionId : "${sessionBizId}"
		},
		methods : {
			fnLogout : function() {
				var self = this;
				if (!confirm("정말 로그아웃 하시겠습니까?")) {
					return;
				}
				var nparmap = {};
				$.ajax({
					url : "logout.dox",
					dataType : "json",
					type : "POST",
					data : nparmap,
					success : function(data) {
						$.pageChange("/business-main.do", {});
					}
				});
			},
			fnClick : function(link, str) {
				var self = this;
				$.pageChange(link, {
					type : str
				});
			},
			fnSessionCheck : function(){
				var self = this;
				if(!self.sessionId){
					$.pageChange("/bizLogin.do", {});
				} else {
					$.pageChange("/biz-info.do", {});
				}
			}
		},
		created : function() {
			var self = this;
			console.log(self.sessionId);
		}
	});
</script>