/* @font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */
       /* ============= << 로그인 >> ============= */
        /* * {
            font-family : 'GmarketSansMedium';
        } */
        .login_Container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60vh;
        }

        .login_Box {
            width: 500px;
            height: 450px;
            background-color: #fff;
            /* 로그인 박스 배경색 설정 */
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            /* 그림자 설정 */
            border-radius: 8px;
            /* 테두리 둥글게 설정 */
        }

        #login_Form {
            display: flex;
            flex-direction: column;
        }

        #login_font {
            color: #ff7f00;
            font-weight: bold;
            font-size: 25px;
            position: relative;
            left: 215px;
        }

        .idPwd_input {
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            /* 테두리 설정 */
            border-radius: 4px;
            /* 테두리 둥글게 설정 */

        }

        .login_button {
            padding: 10px;
            background-color: #ff7f00;
            /* 버튼 배경색 설정 */
            color: #fff;
            /* 버튼 텍스트 색상 설정 */
            border: none;
            border-radius: 4px;
            cursor: pointer;
            height: 50px;
            font-size: 18px;
            font-weight: bold;

        }

        .join_button {
            margin-top: 10px;
            padding: 10px;
            background-color: #fff;
            border: 1px solid #ff7f00;
            color: #ff7f00;
            border-radius: 4px;
            cursor: pointer;
            height: 50px;
            font-size: 18px;
            font-weight: bold;
        }

        .login_find {
            list-style: none;
            padding: 0;
            margin-top: 10px;
            text-align: center;
        }

        .login_find li {
            display: inline-block;
            margin-right: 10px;
            color: #888;
        }

        .login_find a {
            text-decoration: none;
            color: #888;
            font-size: 13px;
        }

        #login_checkBox {
            height: 50px;
        }