@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}

*{
    font-family: 'Noto Sans KR';
}
.login_Container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0px;
    /* height: 60vh; */
}

.login_Box {
    width: 300px;
    height: 430px;
    background-color: #fff;
    padding: 20px;
    margin: 0px auto;
}

#login_Form {
    display: flex;
    flex-direction: column;
}

#login_font {
    color: #ff7f00;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.idPwd_input {
	margin-top : 5px;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    /* 테두리 설정 */
    border-radius: 4px;
    /* 테두리 둥글게 설정 */

}
.idPwd_input:focus{
	outline:  #ff7f00 solid thin;
    border: none;
}

.login_text{
	color: red; 
	font-size: 12px; 
	margin: 2px 0px 2px 5px;
/*  	background-color: #cccccc17;
	text-align: center;  */
}
#login_text{
	margin-bottom: 10px; 
	/* text-align: center; 
	background-color: #cccccc17; */
}

.login_button {
    padding: 10px;
    background-color: #ff7f00;
    /* 버튼 배경색 설정 */
    color: #fff;
    /* 버튼 텍스트 색상 설정 */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 50px;
    font-size: 18px;
    font-weight: bold;

}

.join_button {
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ff7f00;
    color: #ff7f00;
    border-radius: 4px;
    cursor: pointer;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
}

.login_find {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    text-align: center;
}

.login_find li {
    display: inline-block;
    margin-right: 10px;
    color: #888;
}

.login_find a {
    text-decoration: none;
    color: #888;
    font-size: 13px;
}

#login_checkBox {
    height: 50px;
    font-size: 12px;
    color: #00000085;
    accent-color: #fff;
    margin-top: 10px;
}