@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
	font-family: 'Noto Sans KR', sans-serif;
}

* {
	font-family: 'Noto Sans KR';
}

body {
	margin: 0px;
}

.container {
	width: 1150px;
	margin: 0 auto;
	padding: 10px;
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}

.buttonSubmit {
	width: 90px;
	height: 40px;
	border: 1px solid #ccc;
	background-color: white;
	border-radius: 3px;
	font-size: 14px;
	line-height: 30px;
	color: #f5f5f5;
	margin: 5px;
	float: right;
	cursor: pointer;
	margin-top: 10px;
}

.buttonSubmit:hover {
	border: 1px solid #ff7f00;
	background-color: #ff7f00;
	color: white;
}

.buttonRemove {
	/* padding: 0px 20px;  */
	width: 90px;
	height: 40px;
	border: 1px solid #ccc;
	background-color: #f9f9f9;
	border-radius: 3px;
	font-size: 14px;
	line-height: 30px;
	color: rgb(72, 72, 72);
	margin: 5px;
	margin-top: 10px;
	float: right;
	cursor: pointer;
}

.buttonRemove:hover {
	border: 1px solid #ccc;
	background-color: #ccc;
	color: white;
}

.sidebar {
	margin: 10px;
	width: 200px;
	/* height: 800px; */
	background-color: none;
	padding: 10px;
}

.sidebar ul {
	list-style: none;
	padding: 0;
}

.sidebar ul li {
	margin-bottom: 5px;
}

.sidebar ul li a {
	display: block;
	padding: 5px 10px;
	text-decoration: none;
	color: #333;
	border-radius: 4px;
	transition: background-color 0.3s;
}

.sidebar ul li a:hover {
	font-size: 15.5px;
	color: #646464;
	font-weight: bold;
}

.sidebar ul li ul {
	margin-left: 15px;
}

a {
	font-size: 15px;
	text-decoration: none;
	color: #333;
}

.content {
	margin: 10px;
	margin-left: 20px;
	/* padding: 5px;
	padding-left: 30px; */
	width: 1000px;
	height: 800px;
	/* border: 1px solid black; */
}

.span {
	color: #b1b0b0;
	border: 1px solid #d1d0d0;
	border-radius: 4px;
	padding: 6px;
	font-size: 13px;
}

.span:hover {
	border: 1px solid #ccc;
	background-color: #ccc;
	color: white;
}

.table {
	display: left;
}

.row {
	display: flex;
	border-top: 1px solid #ccc;
	height: 60px;
}

.cell1 {
	line-height: 50px;
	background-color: #f3f2f2b7;
	width: 150px;
	border: none;
	text-align: center;
	padding: 5px;
}

.cell2 {
	margin-left: 10px;
	line-height: 40px;
	font-size: 14px;
	color: #747171;
	width: 660px;
	border: none;
	padding: 5px;
	/* margin-bottom:10px;  */
}

input[type="text"] {
	border: none;
	margin-left: 10px;
}

input[type="text"]:focus {
	outline: none;
}

input[type="password"] {
	border: none;
	border-bottom: 1px solid #ccc;
	margin-left: 10px;
}

input[type="password"]:focus {
	outline: none;
}
input[type="email"] {
	border: none;
	border-bottom: 1px solid #ccc;
	margin-left: 10px;
}
input[type="email"]:focus {
	outline: none;
}