/* 장바구니 */
.orderListContainer {
	position: relative;
}

.orderListBox {
	position: fixed;
	width: 400px;
	right: 20px;
	top: 250px;
	border-radius: 5px;
	border: 1px solid #e4e4e4;
	padding: 10px;
	background-color: white;
	box-shadow: 0px 0px 2px 1px #e4e4e4;
}

.hrLine {
	height: 1px;
	background-color: #e4e4e4;
	border: none;
}

.orderList {
	background-color: white;
	font-size: 25px;
	text-align: center;
	color: rgb(72, 72, 72);
	padding: 10px;
	font-weight: bold;
}

.orderListTable {
	text-align: center;
	width: 390px;
	font-size: 14px;
	color: rgb(72, 72, 72);
}

.orderListTable td {
	padding: 10px 0px;
}

.thFirst {
	width: 150px;
}

.thSecond {
	width: 100px;
}

.tdFirst {
	width: 180px;
	min-width: 180px;
	max-width: 180px;
	overflow: hidden;
	word-break: break-all;
}

.tdSecond {
	width: 100px;
	max-width: 100px;
	word-break: break-all;
	min-width: 100px;
}

.removeBtn {
	cursor: pointer;
}

.orderListDelivery {
	padding: 10px 0px;
}

.priceBox {
	height: 10px;
	position: relative;
	margin-top: 10px;
}

.totalPrice {
	position: absolute;
	right: 49px;
	top: 0px;
}

.orderBtn {
	font-size: 15px;
	text-align: center;
	border-radius: 4px;
	margin-top: 25px;
	padding: 10px 20px;
	background-color: #ff7f00;
	color: white;
	font-weight: 500;
	cursor: pointer;
}

table, td, th {
	border-collapse: collapse;
}

.receiptt::-webkit-scrollbar {
	/* display: none; */
	width: 10px;
}

.receiptt::-webkit-scrollbar-thumb {
	/* display: none; */
	background: #ccc;
	border-radius: 10px;
}

.tdAmount {
	max-width: 30px;
	min-width: 30px;
	overflow: hidden;
	width: 30px;
	word-break: break-all;
	padding: 10px 0px;
}

.th {
	border-bottom: 1px solid #e4e4e4;
	padding: 10px 0px;
	font-size: 15px;
}

.tdremove {
	width: 50px;
}

.removeBtn {
	font-size: 30px;
	color: rgba(72, 72, 72, 0.603);
	width: 20px;
	height: 20px;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	line-height: 17px;
}