section {
	position: relative;
	width: 1720px;
	height: 870px;
	margin : 0px auto;
}

#menu_list {
	position: absolute;
	top: 2px;
	left: 0;
	bottom: 0;
	overflow-y: auto;
	background-color: rgba(255, 255, 255, 1);
	z-index: 1;
	font-size: 14px;
	color : #5F5F5F;
	border-right: 1px solid #ddd;
}

.selectList {
	margin: 20px 20px 30px 20px;
	font-size: 16px;
	cursor:pointer;
}

.selectList img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.selectList a {
	text-decoration: none;
	color: #ff7f00;
	float :right;
}

.menu_f {
	margin: 430px 30px 0px 30px;
	font-size : 13px;
}

.menu_f img {
	width:20px;
	height:20px;
}

.mold {
	position: absolute;
	margin: 15px 0px 0px 330px;
	height: 750px;
	overflow-y: scroll;
}
